
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background: #222;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 4px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background: #444;
}

.nav-links li a.active {
    background: #ff9800 !important;
    color: #000 !important;
}


.page-section {
    padding: 60px 20px;
    min-height: 60vh;
    border-bottom: 1px solid #ddd;
}
